#navbar
  %ul
    %list-style-type_none
      =link_to 'Home', products_path
    %list-style-type_none
      =link_to 'Add New Product', new_product_path
    %list-style-type_none
      Orders
    %list-style-type_none
      About Us
