#navbar
  %ul
    %list-style-type_none
      %a{href: products_path} Home
    %list-style-type_none
      %a{href: '/products/new'} Add New Product
    %list-style-type_none
      Orders
    %list-style-type_none
      About Us
