%h1 Eats Slow Food
%p
  Kungsgatan 10, 132 20 Stockholm

%table
  %tr
    %th Item
    %th Price

  -@products.each do |product|
    %tr
      %td=link_to product.name, product_path(product)
      %td= product.price
