%h1 Eats Slow Food
%p
  Kungsgatan 10, 132 20 Stockholm

%table
  %tr
    %th Item
    %th Description

  -@products.each do |product|
    %tr
      %td= product.name
      %td= product.price
      %td=link_to 'Display', product_path(product)
